PORT=3000
API_URL=/api/v1
BOOKING_CODE_PREFIX=BKNBT
# =========================== chung ===========================

GEMINI_API_KEY=

JWT_SECRET= 
JWT_EXPIRES_IN=

# EMAIL_USER=bathienba1@gmail.com
# EMAIL_PASS=cnxb ugxw lhao wvcb

EMAIL_USER=
EMAIL_PASS=

# SUPABASE lưu ảnh, lưu file
SUPABASE_URL=
SUPABASE_KEY=


SUPABASE_BUCKET_ROOMS="rooms"
SUPABASE_BUCKET_AVATARS="avatars"

# =========================== cho chạy local ===========================
MONGODB_URI=mongodb://localhost:27017/booking-hotel

BASE_URL=http://localhost:3000 

URL_CLIENT=http://localhost:5173
URL_VERIFY_OTP=/verify-otp

MONGODB_URI=mongodb+srv://user:@cluster0.mongodb.net/booking-hotel

# ========================= VNPAY =====================
VNP_TMN_CODE=
VNP_HASH_SECRET=
VNP_URL=
VNP_RETURN_URL=http://localhost:3000/api/v1/payments/vnpay-return

# VNP_RETURN_URL=https://booking-room-hotel-api.vercel.app/api/v1/payments/vnpay-return

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/api/v1/auth/google/callback


# Quyết định dùng giây hay phút cho thời gian hết hạn
# false → dùng PAYMENT_EXPIRE_MINUTES (thường production)
# USE_EXPIRE_SECONDS=false # dùng PHÚT (production)
# Thời gian hết hạn nếu dùng phút (production)
# PAYMENT_EXPIRE_MINUTES=15

# # true → dùng PAYMENT_EXPIRE_SECONDS (thường test nhanh)
# USE_EXPIRE_SECONDS=true #dùng GIÂY (test)
# # Thời gian hết hạn nếu dùng giây (test nhanh)
# PAYMENT_EXPIRE_SECONDS=30

# ========================= Thời gian hết hạn cho payment =========================
# 🟢 Production (thực tế)
# USE_EXPIRE_SECONDS=false
# PAYMENT_EXPIRE_MINUTES=15

# 👉 Payment hết hạn sau 15 phút

# 🟡 Test (dev)
USE_EXPIRE_SECONDS=true
PAYMENT_EXPIRE_SECONDS=30

# 👉 Payment hết hạn sau 30 giây